.main{
  display: flex;
  align-items: center;
  justify-content: center
}


.image{
  height: 27rem;
  width: 95%;
  margin: 2rem;
  display: flex;
}

.image02{
  height: 30rem;
  width: 20rem;
  display: flex;
  border-radius: 2rem;
}




